.cardContainer {
    box-shadow: 0 4px 16px 0;
    border-style: outset;
    width: 300px;
    height: 100px;
}

.cardContainer:hover {
    box-shadow: 0 2px 8px 0;
}

.imageSize {
    background-size: cover;
    float: left;
    width: 100px;
    height: 100px;
}

.infoContainer {
    float: right;
    display: table-cell;
    padding: 20px;
    font-family: fantasy;
}
