.carouselContainer {
    display: inline-block;
    margin: 10px;
    background-size: cover;
    background-position: 50%;
    border-radius: 50%;
    transition: transform 1s ease-in;
}

.carouselContainer:hover {
    transform: rotate(360deg);
}

.image-small {
    composes: carouselContainer;
    width: 100px;
    height: 100px;
}

.image-medium {
    composes: carouselContainer;
    width: 200px;
    height: 200px;
}

.image-large {
    composes: carouselContainer;
    width: 300px;
    height: 300px;
}
